[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sodapy = "*"
pandas = "*"
python-dateutil = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
